body {
    font-family: Dubai;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #393e46;
    color: #dfd0b8;
}

nav {
    background-color: #222;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #948979;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #dfd0b8;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #948979;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 50px;

}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 5px;
}

.hero-text p {
    font-size: 38px;
    margin-top: 0;
}

.hero-image img {
    width: 250px;
    border-radius: 10px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.project-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.project-gallery img {
    width: 500px;
    border-radius: 5px;
}

.project-note {
    margin-top: 10px;
    font-style: italic;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

a.no-underline {
    text-decoration: none;
}

a.no-underline strong {
    color: #948979;
}
